.about {
   background-color: var(--black);

   &__inner {
      @include adaptiv-value(margin-top, 200, 80, 1);
      @include adaptiv-value(margin-bottom, 100, 80, 1);
   }

   &__title-text {
      display: flex;
      justify-content: space-between;
   }

   &__text {
      @include mwidth(500);
      font-family: 'Montserrat', sans-serif;
      @include adaptiv-value(font-size, 20, 16, 1);
      @include adaptiv-value(line-height, 24, 20, 1);
      color: var(--white);
   }

   &__links {
      position: relative;
      display: flex;
      justify-content: flex-end;
      @include adaptiv-value(margin-top, 80, 40, 1);
   }

   &__link {
      font-family: 'Druk Wide', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: var(--white);
   }

   &__link:nth-child(1) {
      margin-right: 60px;
   }

   &__link:nth-child(2) {
      margin-right: 245px;
   }
}

.more-about {
   position: absolute;
   z-index: -5;
   background-color: var(--black);
   transform: translateY(-1010px);
   transition: transform 0.3s ease;

   &__list {
      padding-top: 75px;
      padding-bottom: 370px;
      display: flex;
      flex-wrap: wrap;
   }

   &__item {
      font-family: 'Druk Wide', sans-serif;
      font-weight: 700;
   }

   &__item:nth-child(1),
   &__item:nth-child(4) {
      @include mwidth(260);
   }

   &__item:nth-child(2),
   &__item:nth-child(5) {
      @include mwidth(290);
   }

   &__item:nth-child(3),
   &__item:nth-child(6) {
      @include mwidth(300);
   }

   &__item:nth-child(1),
   &__item:nth-child(2),
   &__item:nth-child(4),
   &__item:nth-child(5) {
      @include adaptiv-value(margin-right, 50, 20, 1);
      border-right: 1px solid #BFBFBF;
   }

   &__item:nth-child(1) &__title,
   &__item:nth-child(2) &__title,
   &__item:nth-child(4) &__title,
   &__item:nth-child(5) &__title {
      @include adaptiv-value(margin-right, 50, 0, 1);
   }

   &__item:nth-child(4),
   &__item:nth-child(5),
   &__item:nth-child(6) {
      padding-top: 160px;
   }

   &__title {
      color: #BFBFBF;
   }

   &__title,
   &__subtitle {
      @include adaptiv-value(font-size, 38, 24, 1);
      @include adaptiv-value(line-height, 46, 29, 1);
   }

   &__subtitle {
      @include adaptiv-value(margin-top, 60, 30, 1);
      @include adaptiv-value(margin-bottom, 8, 4, 1);
      color: var(--white);
   }

   &__text {
      @include adaptiv-value(font-size, 12, 10, 1);
      @include adaptiv-value(line-height, 15, 12, 1);
      color: var(--white);
   }
}

.about__link:nth-child(2):hover+.more-about {
   z-index: 5;
   transform: translateY(20px);
}