.info {
   background-color: var(--black);

   &__title {
      @include adaptiv-value(margin-top, 220, 120, 1);
      @include adaptiv-value(margin-bottom, 250, 290, 1);
      font-family: 'Druk Wide', sans-serif;
      font-weight: bold;
      @include adaptiv-value(font-size, 82, 42, 1);
      @include adaptiv-value(line-height, 100, 50, 1);
      text-align: center;
      color: var(--white);
   }

   &__bottom {
      display: flex;
      justify-content: space-between;
   }

   &__map {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -5;
      opacity: 0;
      transition: opacity 0.5s ease;
   }

   &__map-d img,
   &__map-m img {
      width: 100vw;
      height: 100%;
   }

   &__map-m {
      display: none;
   }
}

.address:hover+.info__map {
   z-index: 5;
   opacity: 1;
}

.info__mail {
   position: relative;
}

.mail-hover {
   position: absolute;
   right: -9.5px;
   z-index: -5;
   transform: translateY(500px);
   transition: transform 0.3s ease;
}

.mail:hover+.mail-hover {
   z-index: 5;
   transform: translateY(-130px);
   animation: anim-mail 0.5s;
   animation-delay: 0.3s;
   animation-fill-mode: forwards;
}


@keyframes anim-mail {
   0% {
      transform: translateY(-130px);
      animation-timing-function: ease-out;
   }

   20% {
      transform: translateY(-180px);
      animation-timing-function: ease-in;
   }

   40% {
      transform: translateY(-60px);
      animation-timing-function: ease-in;
   }

   60% {
      transform: translateY(-150px);
      animation-timing-function: ease-out;
   }

   80% {
      transform: translateY(-95px);
      animation-timing-function: ease-out;
   }

   85% {
      transform: translateY(-145px);
      animation-timing-function: ease-in;
   }

   90% {
      transform: translateY(-110px);
      animation-timing-function: ease-out;
   }

   95% {
      transform: translateY(-140px);
      animation-timing-function: ease-in;
   }

   100% {
      transform: translateY(-130px);
      animation-timing-function: ease-out;
   }
}